<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Product Price-->
    <add key="APrice" value="50"/>
    <add key="BPrice" value="30"/>
    <add key="CPrice" value="20"/>
    <add key="DPrice" value="15"/>
    <!--Flat Promtions-->
    <add key="3A" value="130"/>
    <add key="2B" value="45"/>
    <add key="CD" value="30"/>
    
  </appSettings>
</configuration>